/* Enter your custom styles here */
.sapMPage>section{
    background-color: white;
}

span.sapMBtnInner.sapMBtnEmphasized {
    background-color: #e9730c;
    border-color: #e9730c;
}

.sapMIBar-CTX .sapMBtn:hover>.sapMBtnHoverable.sapMBtnEmphasized:not(.sapMBtnActive) {
    background-color: #e9730c;
    border-color: #e9730c;
}